.container-header {
    background-color: var(--background-primary);
}

.navigation-menu {
    display: flex;
    padding: 1rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 120px;

    a {
        font-family: var(--fontFamily-primary);
        color: #ffffffbf;
        font-size: 1rem;
        transition: color 200ms ease-in;

        &:hover {
            color: #ff8418;
        }
    }

    #logo-img {
        height: 80px;
    }
}